body {
    font-family: Arial;
    background-color: #f4f6f8;
    padding: 40px;
}

h1 {
    text-align: center;
}

form {
    text-align: center;
    margin-bottom: 20px;
}

input, button {
    padding: 8px;
    margin: 5px;
}

button {
    background-color: #2d89ef;
    color: white;
    border: none;
    cursor: pointer;
}

table {
    margin: auto;
    width: 60%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}
